
 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Site Projet web SSII">
        <meta name="author" content="Yassine M'CHAAR, Weiben WANG, Alexandre TABOT">
        <title>Gallery- MyBlog</title>
        <!-- Fonts -->
       
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
       <link href="../css/gallery.css" rel="stylesheet">
        
    </head>

	<body>
		<div id="container">
		
			<div id="next" data-modify="1" class="control">
				<span>Next video</span>
			</div>
		
			<div id="back" class="control">
				<span>Back to grid</span>
			</div>
			
			<div id="prev" data-modify="-1" class="control">
				<span>Previous video</span>
			</div>
			
			<div id="loading">
				Gallery is loading&hellip;
			</div>
			
			<div id="warning">
				Your browser does not support 3D. Please use the latest version of <a href="http://google.com/chrome">Google Chrome</a> to view this demo.
			</div>

		    <div id="main" role="main">
		
				<ul id="gallery" class="clearfix">
					
					<li>
						<div>	
							<section>
							<img src="assets/battlefield3.jpg" />
							<span class="back"></span>
							<div class="title">
								<h3>Battlefield 3<span class="after"></span></h3>
							</div>
							<video preload="none" width="640" height="360" src="assets/battlefield3.mp4"></video>
							</section>
						</div>
					</li>
					
				
				</ul>

		    </div>
		
			<footer id="footer">
				
				<p> Video Gallery </p>
				
			</footer>

		</div>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
		<script src="js/jquery.jc.videogallery.js"></script>
		<script src="js/master.js"></script>
		<script src="../js/gallery.js"></script>
	</body>	
</html>
