  
{% extends 'base.html' %}
{% block content %}
{% load staticfiles %} 

    <div class="masthead">
       <img class="img-reponsive banls" src="{% static 'image/ban.jpg'%}">
       <div class="inner-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a href="login"><h2>Start Working</h2></a>
                    </div>
                </div>
            </div>
         </div>
    </div> 

<div class="container-fluid about">
            <div class="container">
                <div class="row">
                    <h2 id="about">About</h2>
                    <hr class="separator">
                    <article div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                        <h2>Etudes</h2>
                        <p> 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis varius varius condimentum. Nullam scelerisque leo mauris, nec dapibus arcu finibus sit amet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed consectetur ante erat, vehicula feugiat augue tincidunt id. Praesent non euismod justo. Morbi nec massa eget nisl semper semper id non ex. Nunc fermentum eros ut sapien viverra vulputate ac vel tortor. Praesent sagittis venenatis scelerisque. 
                        </p>
                    </article>
                    <article div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                        <h2>Expérience</h2>
                        <p> 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis varius varius condimentum. Nullam scelerisque leo mauris, nec dapibus arcu finibus sit amet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed consectetur ante erat, vehicula feugiat augue tincidunt id. Praesent non euismod justo. Morbi nec massa eget nisl semper semper id non ex. Nunc fermentum eros ut sapien viverra vulputate ac vel tortor. Praesent sagittis venenatis scelerisque. 
                        </p>
                    </article>
                    <article div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                        <h2>Hobbies</h2>
                        <p> 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis varius varius condimentum. Nullam scelerisque leo mauris, nec dapibus arcu finibus sit amet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed consectetur ante erat, vehicula feugiat augue tincidunt id. Praesent non euismod justo. Morbi nec massa eget nisl semper semper id non ex. Nunc fermentum eros ut sapien viverra vulputate ac vel tortor. Praesent sagittis venenatis scelerisque. 
                        </p>
                    </article>
            </div>
    </div>
{% endblock %}

 
