{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<!--<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>formulaire inscription</title>


    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
   	<link href="{% static 'css/inscription.css' %}" rel="stylesheet" >

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	

	<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>


  </head>

  <body>
  	<header class="container-fluid header">
        <div class="container">
         	<a class="logo">Myblog</a>
        </div>
    </header>

    <div class="container">
    	<header class="row">
        	<div class="col-sm-12">
         		 <a href=#"Myblog"></a>
        	</div>
     	</header>
-->

   <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">-->
   	<link href="{% static 'css/inscription.css' %}" rel="stylesheet" >

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	

		<div class="row main">
				<div class="omb_login">
	    			<h3 class="omb_authTitle">sign up</h3>
				</div>
				<div class="main-login main-center">
				<h5>Sign up once and watch any of our free demos.</h5>
					<form class="" method="post" action="">
						{% csrf_token %}
						<div class="form-group">
							<label for="id_yourname" class="cols-sm-2 control-label">Your Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<!--<input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>-->
									{{ formSignup.yourname }}
									
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="id_email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<!--<input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>-->
									{{ formSignup.email }}
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="id_username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<!--<input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>-->
									{{ formSignup.username }}
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="id_password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<!--<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>-->
									{{ formSignup.password }}
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="id_passwordConfirm" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<!--<input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"/>-->
									{{ formSignup.passwordConfirm }}
								</div>
							</div>
						</div>
						<span class="help_text">{{ resSignup }}</span>
						<div class="form-group ">
							<!--<a href="login.html" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Register</a>-->
							<button target="_blank" class="btn btn-primary btn-lg btn-block login-button" type="submit">Register</button>
						</div>

					</form>

				</div>
			</div>

 <!-- </body>
</html>-->
{% endblock %}