{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<!--<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>formulaire inscription</title>


    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
   	<link href="{% static 'css/inscription.css' %}" rel="stylesheet" >

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	

	<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>


  </head>

  <body>
  	<header class="container-fluid header">
        <div class="container">
         	<a class="logo">Myblog</a>
        </div>
    </header>-->
    <link href="{% static 'css/inscription.css' %}" rel="stylesheet" >

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <div class="container">
    	<!--<header class="row">
        	<div class="col-sm-12">
         		 <a href=#"Myblog"></a>
        	</div>
     	</header>-->

		<div class="row main">
				<div class="omb_login">
	    			<h3 class="omb_authTitle">Password Reset</h3>
				</div>
				<div class="main-login main-center">
					<form class="" method="post">
						{% csrf_token %}
						<div class="form-group">
							<label for="id_yourname" class="cols-sm-2 control-label">Your Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<!--<input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>-->
									{{ formReset.name }}
									
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="id_email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<!--<input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>-->
									{{ formReset.email }}
									{% if error1.email %}<span class="help_text">{{ error1.email }}</span>{% endif %}
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="id_username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<!--<input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>-->
									{{ formReset.username }}
								</div>
							</div>
						</div>
						<button class="btn btn-lg btn-primary btn-block" type="submit" >Get Code</button>
						{% if error %}<span class="help_text">{{ error }}</span>
						{% endif %}	
					</form>
					<div>
						<script type="text/javascript">
							function tiaozhuan(){
								var codecheck = document.getElementById("id_checkcode").value;
								var codeconfirm = {{ codecheck | safe}}
								alert(codecheck+"|"+codeconfirm+"|"+{{ nameclient | safe }});
								if( codecheck==codeconfirm && codecheck != "" )
									window.location.href = "changepassword/"+{{ nameclient | safe }};
								else{
									alert("incorrect code");
								}
							}
						</script>
						<label for="id_checkcode" class="cols-sm-2 control-label">Code</label>
						<input type="text" class="form-control" name="codecheck" id="id_checkcode" placeholder="Enter your code have got" >
						<input type="button" value="validate" class="btn btn-lg btn-primary btn-block" 
						onclick="tiaozhuan()" >
					</div>
				</div>
			</div>
		</div>
	</div>

<!--  </body>
</html>-->
{% endblock %}